@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Oxygen Mono', monospace;
  text-align: center;
}
.page_container {
  position: relative;
  min-height: 100vh;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(168, 200, 204);
  height: 3rem;
}

.container {
  margin: 3rem;
}

button {
  background-color: rgb(168, 200, 204);
  text-shadow: 1.5px 1.5px rgba(1, 83, 88, 0.425);
  color: white;
  height: 5rem;
  width: 10rem;
  font-size: 0.9rem;
  border-radius: 10px;
  border: none;
  font-family: 'Oxygen Mono', monospace;
  box-shadow: 1px -1px 26px 1px rgba(49, 109, 125, 0.48);
}

h1 {
  text-align: center;
  font-size: 1.3rem;
  margin: 3rem;
}
h2 {
  font-size: 1rem;
  margin-top: 4rem;
}

h3 {
  margin-top: 4rem;
  font-size: 1.1rem;
}

.authors_photo {
  border-radius: 50%;
  width: 100px;
  margin: 1rem;
  margin-bottom: 4rem;
}
.logo_ProDobro {
  font-family: 'Ms Madi', cursive;
  font-size: 5rem;
}

a:link {
  color: #ffffff;
  text-shadow: 1.5px 1.5px rgba(1, 83, 88, 0.425);
  text-decoration: none;
  font-size: 1rem;
}

a:visited {
  text-shadow: 1.3px 1.5px rgba(1, 83, 88, 0.425);
  color: #ffffff;
}
a:hover {
  color: rgb(3, 21, 24);
}

button:hover {
  color: rgb(3, 21, 24);
}

.bold_title {
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: -60px;
  /* osa Y */
  left: 0px;
  /* osa X */
  font-size: 0.8rem;
}

@media (min-width: 650px) {
  .container {
    margin: 5rem 4rem;
  }
  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1rem;
    margin-top: 5rem;
  }
  a:link {
    font-size: 1rem;
  }
  .authors_photo {
    width: 150px;
  }
  button {
    margin: 3rem;
  }
}

@media (min-width: 850px) {
  .container {
    margin: 5rem 7rem;
  }
  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 1.1rem;
    margin-top: 7rem;
  }
  a:link {
    font-size: 1rem;
  }
  .authors_photo {
    width: 180px;
  }
  button {
    margin: 3rem;
  }
}

@media (min-width: 1200px) {
  .container {
    margin: 6rem 15rem;
  }
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.4rem;
    margin-top: 7rem;
  }
  a:link {
    font-size: 1.4rem;
  }
  .authors_photo {
    width: 190px;
  }
  button {
    margin: 5rem;
    height: 6rem;
    width: 14rem;
    font-size: 1.2rem;
  }
}
